.bg {
    border: 3px dotted #5FB878;
    margin-top: 100px;
}

/* 标题部分 */

.box1 #autoRotateText{
    color: #FF5722;
    text-align: center;
    font-weight:bolder;
    font-size: 40px;
    letter-spacing: 5px;
}

/* 输入日期部分 */
.box2 {
    padding: 20px 0px;
    background-color: powderblue;
    margin-bottom: 20px;
}

.box2 .label{
    width: 200px;
    font-weight:bold;
    letter-spacing: 2px;
}

.box2 .update:hover{
    background-color: #009688;
    color: white;
}

/*下面两个是核心样式*/
.beat-char {
    line-height: 3.4em;
    position: relative;
    display: inline-block;
    background: transparent;
}

.rotate{
    transform:rotate(360deg) ;
    -ms-transform:rotate(360deg); 	/* IE 9 */
    -moz-transform:rotate(360deg); 	/* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);
    -webkit-transition-duration: 0.7s;
}

/* 展示部分 */
.box3 {
    margin-bottom: 40px;
}

.box3 .show{
    font-weight: bold;
}

